.form-wrap {
    margin: 20px 0 30px;
}
.form-group {
    display: flex;
    margin-bottom: 15px;
}
.form-group:last-child {
    margin-bottom: 0;
}
.form-group label {
    flex-basis: 20%;
    text-align: right;
    padding: 0 15px;
}
.form-group input {
    flex-basis: 80%;
}
.form-group.error label{
    color: red;
}
.form-group.error input {
    border-color: red;
}